.env
.env.local
.env.*.local
node_modules/
dist/
build/
.next/
out/
.DS_Store
*.log
.vscode/
.idea/
.env.prod
postgres_data/
__pycache__/
*.pyc
.pytest_cache/
venv/
.coverage
.nyc_output/
coverage/
artifacts/
